{% load i18n %}

<!-- TODO: Replace by default edit view once available in Studio -->
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_display_name">{% trans "Title" %}</label>
            <input class="input setting-input edit-display-name" id="edit_display_name" value="{{ self.display_name }}" type="text">
          </div>
          <span class="tip setting-help">{% trans "The title of the Image Explorer that is displayed to the user" %}</span>
      </li>
      {% if not self.hotspot_coordinates_centered %}
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <input type="checkbox" class="setting-input edit-hotspot-coordinates-centered" id="edit_hotspot_coordinates_centered">
            <label class="label setting-label label-block" for="edit_hotspot_coordinates_centered">{% trans "Hotspot coordinates centered" %}</label>
          </div>
          <span class="tip setting-help">{% trans "If set to true, hotspot coordinates interpreted to point to the center of the hotspot" %} <br /> {% trans "If set to false, assumed to point to the top left corner of the hotspot image" %}</span>
      </li>
      {% endif %}
      <li class="field comp-setting-entry is-set">



<div class="image-explorer-xblock-wrapper">
    <h2>{{title}}</h2>
    {% if description_html %}
    <div class="image-explorer-description">
        {{ description_html }}
    </div>
    {% endif %}
    <div class="image-explorer-wrapper">
        <img src="{{background.src}}" class="image-explorer-background" />
        {% for hotspot in hotspots %}
        <div class="image-explorer-hotspot {% if hotspot_coordinates_centered %}centered{% endif %}" style="position: absolute; top: {{hotspot.y}}; left: {{hotspot.x}};" data-item-id="{{hotspot.item_id}}">
                <div class="image-explorer-hotspot-reveal" {{hotspot.reveal_style}} data-side="{{ hotspot.feedback.side }}">
                    <div class="image-explorer-close-reveal">&#xf057;</div>
                    <div class="image-explorer-hotspot-content-wrapper">
                        {% if hotspot.feedback.header %}
                            <span class="image-explorer-hotspot-reveal-header">
                                {{hotspot.feedback.header}}
                            </span>
                        {% endif %}
                        {% if hotspot.feedback.body %}
                            <span class="image-explorer-hotspot-reveal-body">
                                {{hotspot.feedback.body}}
                            </span>
                        {% endif %}
                        {% if hotspot.feedback.youtube %}
                            <div class="image-explorer-hotspot-reveal-youtube">
                                <iframe id="{{hotspot.feedback.youtube.id}}" class="youtube-player" type="text/html" width="{{hotspot.feedback.youtube.width}}" height="{{hotspot.feedback.youtube.height}}" src="https://www.youtube.com/embed/{{hotspot.feedback.youtube.video_id}}?enablejsapi=1" frameborder="0"></iframe>
                            </div>
                        {% endif %}
                        {% if hotspot.feedback.ooyala %}
                            <div id="ooyalaplayer_2" style="width: {{hotspot.feedback.ooyala.width}}px; height: {{hotspot.feedback.ooyala.height}}px;" data-video-id="{{hotspot.feedback.ooyala.video_id}}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>








              <input type="hidden" class="block-xml-editor" value="{{ self.data }}" />
      </li>
  </ul>
  <div class="xblock-actions">
    <span class="xblock-editor-error-message"></span>
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>

      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
